{% extends "index.html" %}

{% block heading1 %} Arsenal {% endblock %}

{% block heading2 %}{% endblock %}

{% block th1 %} Full Name {% endblock %}
{% block th2 %} Founded {% endblock %}
{% block th3 %} Ground {% endblock %}
{% block th4 %} Capacity{% endblock %}
{% block th5 %} Owner {% endblock %}
{% block th6 %} Head Coach {% endblock %}
{% block th7 %} Position in table {% endblock %}

{% block td1 %} {% endblock %}
{% block td2 %} {% endblock %}
{% block td3 %} {% endblock %}
{% block td4 %} {% endblock %}
{% block td5 %} {% endblock %}
{% block td6 %} {% endblock %}
{% block td7 %} {% endblock %}
{% block td8 %} {% endblock %}

{% block td9 %} {% endblock %}
{% block td10 %} {% endblock %}
{% block td11 %} {% endblock %}
{% block td12 %} {% endblock %}
{% block td13 %} {% endblock %}
{% block td14 %} {% endblock %}
{% block td15 %} {% endblock %}
{% block td16 %} {% endblock %}

{% block td17 %} {% endblock %}
{% block td18 %} {% endblock %}
{% block td19 %} {% endblock %}
{% block td20 %} {% endblock %}
{% block td21 %} {% endblock %}
{% block td22 %} {% endblock %}
{% block td23 %} {% endblock %}
{% block td24 %} {% endblock %}

{% block heading3 %} Real Madrid {% endblock %}

{% block heading4 %} Man City{% endblock %}

{% block heading5 %} Man City{% endblock %}

{% block heading6 %} Man City{% endblock %}

{% block heading7 %} Man City{% endblock %}

{% block heading8 %} Man City{% endblock %}

{% block heading9 %} Man City{% endblock %}

{% block heading10 %} Man City{% endblock %}
