{% extends "layout.html" %}
{%  block heading1%} Some football facts and Tony Adams. {% endblock %}
{% block table %}
<table style="width:100%">
<tr>
 <th>Famous football leagues</th>
 <th>Famous club of league</th>
 <th>League titles</th>
</tr>
<tr>
 <td>English Premier League</td>
 <td>Manchester United</td>
 <td>20</td>
</tr>
<tr>
 <td>Spanish First Division</td>
 <td>Real Madrid</td>
 <td>33</td>
</tr>
<tr>
 <td>German Bundesliga</td>
 <td>Bayern Munich</td>
 <td>30</td>
</tr>
</table>
{% endblock %}
{% block img %} <img id="tony" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fsecure.i.telegraph.co.uk%2Fmultimedia%2Farchive%2F03242%2Froddersaai_3242843a.jpg&f=1&nofb=1" alt="football player jogging"> {% endblock %}
