{% extends "layout.html" %}
{%  block heading1%} Best football managers and a picture of Jose Mourinho. {% endblock %}
{% block table %}
<table style="width:100%">
<tr>
 <th>Famous football Managers</th>
 <th>Famous club known for</th>
 <th>Trophies</th>
</tr>
<tr>
 <td>Sir Alex Ferguson</td>
 <td>Manchester United</td>
 <td>49</td>
</tr>
<tr>
 <td>Jose Mourinho</td>
 <td>Inter Milan</td>
 <td>20</td>
</tr>
<tr>
 <td>Pep Guardiola</td>
 <td>F.C Barcelona</td>
 <td>29</td>
</tr>
</table>
{% endblock %}
{% block img %} <img id="jose" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.kt6Rc9wDAi6V5HeQNDCaFAHaMS%26pid%3DApi&f=1" alt="football manager"> {% endblock %}
