{% extends "layout.html" %}
{%  block heading1%} Football players and a picture of Lionel Messi. {% endblock %}
{% block table %}
<table style="width:100%">
<tr>
 <th>Famous football Players</th>
 <th>Famous club of players</th>
 <th>Trophies</th>
</tr>
<tr>
 <td>Lionel Messi</td>
 <td>F.C Barcelona</td>
 <td>37</td>
</tr>
<tr>
 <td>Cristiano Ronaldo</td>
 <td>Real Madrid</td>
 <td>29</td>
</tr>
<tr>
 <td>Manuel Neuer</td>
 <td>Bayern Munich</td>
 <td>24</td>
</tr>
</table>
{% endblock %}
{% block img %} <img id="messi" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.iSsRYgGosL2VnbcK6zFLaQHaEZ%26pid%3DApi&f=1" alt="football player jogging"> {% endblock %}
